* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* header */
header {
  padding: 20px;
  height: 80px;
  background-color: royalblue;
}
header > i {
  font-size: 40px;
  color: white;
}
header div {
  height: 100%;
  float: right;
  /* border: 2px solid white; */
  /* flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #1f3460;
  border-radius: 20px;
}
select:hover {
  cursor: pointer;
}

/* main */
main {
  height: calc(100% - 80px);
  padding: 40px;
  background-color: #1f3460;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.disc {
  margin: 20px 10px;
  padding: 10px;
  height: 340px;
  width: 220px;
  background-color: royalblue;
  border-radius: 20px;
  color: white;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.disc:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}
.card {
  max-width: 100%;
  border-radius: 10px;
}
h2 {
  font-size: 20px;
}
div.disc p:nth-of-type(2) {
  font-size: 16px;
  opacity: 0.6;
}
